@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --color-background: var(--bk-color);
  --color-foreground: var(--wt-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
    --wt-color: #F7F7F7;
    --bk-color: #0a0a0a;
    --primary-color: #27315f;
    --secondary-color: #495db7;
    --en-font: "Maven Pro", sans-serif;
    --bn-font: "Hind Siliguri", sans-serif;
    --poppins-font: "Poppins", serif;
}
.bg-color{
  background-color:var(--primary-color) ;
}
.color-wt{
  color: var(--wt-color);
}
.color-bk{
  color: var(--bk-color);
}



@media (prefers-color-scheme: dark) {
  :root {
    --wt-color: #F7F7F7;
    --bk-color: #0a0a0a;
    --primary-color: #27315f;
    --secondary-color: #495db7;
    --en-font: "Maven Pro", sans-serif;
    --bn-font: "Hind Siliguri", sans-serif;
    --poppins-font: "Poppins", serif;
  }
}

body {
  background: var(--wt-color);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

.animate-fadeInRight {
  animation: fadeInRight 1.2s ease-out;
}

.bg-img {
    background-image: url("/images/bg-login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -3px -7px 9px var(--bk-color);
}
.footer nav{
  color:var(--wt-color);
}
/* What To Do Section */
